.centraliza {
    margin-left: auto !important;
    margin-right: auto !important;
}

div[class*="col-"] {
    background: #fff;
    text-align: center;
    color: #000;
    border: 1px solid #ddd;
    padding: 5px;
}
.row {
    margin-bottom: 15px;
}